@import "../../app/variables.scss";

.item {
   &__grid {
      margin: 60px 0 0 0;
      display: grid;
      grid-template-areas:
         "img title title"
         "img middle price"
         "params params price";
      grid-template-columns: 35% 35% 30%;
      gap: 15px;
      & > * {
         padding: 10px;
         @media (max-width: 950px) {
            padding: 5px;
         }
      }
      @media (max-width: 1400px) {
         grid-template-areas:
            "img title title"
            "img middle price"
            "params params params";
      }
      @media (max-width: 1200px) {
         grid-template-columns: 30% 40% 30%;
      }
      @media (max-width: 950px) {
         gap: 10px;
      }
      @media (max-width: 850px) {
         grid-template-columns: 35% 65%;
         grid-template-areas:
            "img title"
            "img middle"
            "price price"
            "params params";
      }
      @media (max-width: 550px) {
         grid-template-columns: 1fr;
         grid-template-areas:
            "title"
            "img"
            "middle"
            "price"
            "params";
      }
   }
   &__imgFavorite {
      position: relative;
      grid-area: img;
      width: 100%;
      height: 100%;
      @media (max-width: 550px) {
         overflow: hidden;
      }
   }
   &__imges {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      gap: 20px;
      @media (max-width: 1200px) {
         display: none;
      }
      &__array {
         display: flex;
         justify-content: space-between;
         gap: 5px;
         flex: 0 1 25%;
         @media (max-width: 1200px) {
            flex: 0 1 40%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5px 5px;
         }
         @media (max-width: 550px) {
            flex: 0 1 100%;
         }
      }
      @media (max-width: 550px) {
         max-height: 500px;
      }
      &__imgBody {
         position: relative;
         aspect-ratio: 3/2;
         border: 1px solid #dbdbdb;
         background: #d8d8d8;
         border-radius: 8px;
         transition: 0.5s;
         &:hover {
            background: #f5f5f5;
         }
         &:active {
            background: #6b6b6b;
         }
      }
   }
   &__slider {
      position: relative;
      display: none !important;
      width: 100%;
      @media (max-width: 1200px) {
         display: block !important;
      }
      &__bulletContainer {
         width: 100%;
         height: 40px;
         display: flex;
         gap: 7px;
         justify-content: center;
         position: relative;
         z-index: 2;
      }
      &__bulletActive {
         background: #a7a7a7;
      }
      &__imgBody {
         margin: 50px 0 0 0;
         position: relative;
         aspect-ratio: 3/2;
         @media (max-width: 550px) {
            margin: 10px 0 0 0;
            aspect-ratio: 4/2;
         }
      }
   }
   &__imgBody {
      position: relative;
      height: 100%;
      @media (max-width: 550px) {
         width: 100%;
         aspect-ratio: 3/2;
      }
   }
   &__imBodyTransition {
      transition: 0.5s;
      opacity: 0;
   }
   &__title {
      grid-area: title;
      @include h3style;
      @media (max-width: 950px) {
         font-size: 20px;
      }
      @media (max-width: 500px) {
         font-size: 18px;
      }
   }
   &__h4title {
      font-size: 20px;
      font-weight: 600;
      color: #333333;
      line-height: 140%;
      @media (max-width: 950px) {
         font-size: 16px;
      }
   }
   &__middle {
      grid-area: middle;
      @media (max-width: 850px) {
         padding: 0 10px 0 0;
      }
   }
   &__prices {
      grid-area: price;
      @media (max-width: 850px) {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   }
   &__models {
      margin: 35px 0 0 0;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      height: auto;
      overflow: hidden;
      position: relative;
      z-index: 1;
      max-height: 3000px;
      transition: 0.5s;
      @media (max-width: 950px) {
         margin: 15px;
         gap: 10px;
      }
      @media (max-width: 550px) {
         margin: 15px 0px;
         gap: 10px;
         flex-wrap: nowrap;
         display: grid;
         grid-template-columns: 1fr 1fr;
      }
      &__limited {
         max-height: 175px;
      }
      &__showMore {
         text-align: center;
         font-weight: 700;
         font-size: 16px;
         display: flex;
         position: relative;
         z-index: 5;
         align-items: center;
         justify-content: center;
         z-index: 2;
         left: 0;
         bottom: 0;
         width: 100%;
         height: 40px;
         background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
      }
      & li {
         background: #d8d8d8;
         color: #4b4b4b;
         border-radius: 8px;
         height: 39px;
         max-width: 140px;
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         text-align: center;
         font-weight: 700;
         border: 1px solid transparent;
         @media (max-width: 550px) {
            max-width: initial;
            flex: 0 1 50%;
         }
         @media (max-width: 400px) {
            font-size: 12px;
         }
         @media (max-width: 360px) {
            font-size: 10px;
         }
         & > * {
            padding: 0 10px;
            width: 100%;
            height: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            color: inherit;
         }
      }
      &__active {
         color: #000000 !important;
         background: $turquoiseGradient !important;
         border: 1px solid #dadada !important;
         box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
      }
   }
   &__mainParams {
      margin: 35px 0 0 0;
      @media (max-width: 950px) {
         margin: 15px 0 0 0;
      }
      &__list {
         margin: 20px 0 0 0;
         display: flex;
         flex-direction: column;
         gap: 20px;
         @media (max-width: 950px) {
            gap: 10px;
         }
      }
      &__elem {
         display: flex;
         & span {
            margin: 0 10px;
            flex: 1 1 auto;
            border-bottom: 1px dotted #7c7c7c;
         }
      }
      &__elemTitle {
         font-weight: 500;
         color: #646464;
      }
      &__elemParam {
         font-weight: 600;
         color: #4b4b4b;
      }
   }
   &__description {
      margin: 25px 0 0 0;
      line-height: 130%;
      color: #4b4b4b;
   }
   &__price {
      font-size: 24px;
      font-weight: 700;
      color: #333333;
      @media (max-width: 950px) {
         font-size: 20px;
      }
   }
   &__buy {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 40px 0 0 0;
      width: 90%;
      height: 40px;
      border-radius: 10px;
      border: 1px solid #b6b6b6;
      background: #0094b9;
      color: #fff;
      font-weight: 600;
      font-size: 16px;
      transition: 0.3s;
      &:hover {
         background: #004557;
      }
      @media (max-width: 850px) {
         max-width: 50%;
         margin: 20px 0 0 0;
      }
      @media (max-width: 400px) {
         font-size: 14px;
      }
   }
   &__inCart {
      background: #f1f1f1;
      color: $grayColor;
      &:hover {
         background: #d8d8d8;
         color: #000;
      }
   }
   &__delivery {
      margin: 40px 0 0 0;
      color: #646464;
      line-height: 130%;
      @media (max-width: 950px) {
         margin: 20px;
         max-width: 90%;
      }
   }
   &__params {
      margin: 60px 0 0 0;
      grid-area: params;
      @media (max-width: 1400px) {
         max-width: 98%;
      }
      @media (max-width: 850px) {
         margin: 20px 0 0 0;
      }
      @media (max-width: 550px) {
         max-width: 100%;
      }
      & h3 {
         @include h3style;
      }
   }
   &__counter {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      height: 40px;
      margin: 15px 0 0 0;
      border: 1px solid #cfcfcf;
      border-radius: 6px;
   }
   &__countBtn {
      max-width: 90px;
      width: 100%;
      height: 100%;
      border-radius: 6px;
      background: linear-gradient(129deg, rgba(230, 230, 230, 1) 0%, rgba(255, 255, 255, 1) 100%);
      transition: 0.3s;
      color: #000;
      font-size: 20px;
      font-weight: 600;
      &:hover {
         background: #fff;
      }
   }
   &__countBtnPlus {
      background: linear-gradient(304deg, rgba(230, 230, 230, 1) 0%, rgba(255, 255, 255, 1) 100%);
   }
   &__count {
      font-size: 20px;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 1 auto;
      height: 100%;
   }
}
.favorite {
   position: absolute;
   right: 10px;
   top: 5px;
   width: calc(100% - 10px);
   height: 40px;
   z-index: 2;
   display: flex;
   gap: 10px;
   align-items: center;
   justify-content: flex-end;
   font-weight: 500;
   max-width: 150px;
   background: transparent;
   &__icon {
      font-size: 20px;
      color: $grayColor;
   }
   &__title {
      font-size: 16px;
      color: $grayColor;
   }
   &__iconActive {
      font-size: 20px;
      color: #ff2a2a;
   }
}
