@import "../../app/variables.scss";

.item {
   &__grid {
      margin: 60px 0 0 0;
      display: grid;
      grid-template-areas:
         "img title title"
         "img middle price"
         "params params price";
      grid-template-columns: 35% 35% 30%;
      gap: 15px;
      & > * {
         padding: 10px;
      }
   }
   &__imges {
      grid-area: img;
   }
   &__imgBody {
      position: relative;
      height: 100%;
   }
   &__title {
      grid-area: title;
      @include h3style;
   }
   &__h4title {
      font-size: 20px;
      font-weight: 600;
      color: #333333;
      line-height: 140%;
   }
   &__middle {
      grid-area: middle;
   }
   &__prices {
      grid-area: price;
   }
   &__models {
      margin: 35px 0 0 0;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      height: auto;
      overflow: hidden;
      position: relative;
      z-index: 1;
      max-height: 3000px;
      transition: 0.5s;
      &__limited {
         max-height: 200px;
      }
      &__showMore {
         text-align: center;
         font-weight: 700;
         font-size: 16px;
         position: absolute;
         display: flex;
         align-items: center;
         justify-content: center;
         z-index: 2;
         left: 0;
         bottom: 0;
         width: 100%;
         height: 40px;
         background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
      }
      & li {
         background: #d8d8d8;
         color: #4b4b4b;
         border-radius: 8px;
         height: 39px;
         max-width: 140px;
         display: flex;
         align-items: center;
         justify-content: center;
         text-align: center;
         font-weight: 700;
         border: 1px solid transparent;
         & > * {
            padding: 0 10px;
            width: 100%;
            height: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            color: inherit;
         }
      }
      &__active {
         color: #000000 !important;
         background: $turquoiseGradient !important;
         border: 1px solid #dadada !important;
         box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
      }
   }
   &__mainParams {
      margin: 35px 0 0 0;
      &__list {
         margin: 20px 0 0 0;
         display: flex;
         flex-direction: column;
         gap: 20px;
      }
      &__elem {
         display: flex;
         & span {
            margin: 0 10px;
            flex: 1 1 auto;
            border-bottom: 1px dotted #7c7c7c;
         }
      }
      &__elemTitle {
         font-weight: 500;
         color: #646464;
      }
      &__elemParam {
         font-weight: 600;
         color: #4b4b4b;
      }
   }
   &__description {
      margin: 25px 0 0 0;
      line-height: 130%;
      color: #4b4b4b;
   }
   &__price {
      font-size: 24px;
      font-weight: 700;
      color: #333333;
   }
   &__buy {
      margin: 40px 0 0 0;
      width: 100%;
      height: 40px;
      border-radius: 10px;
      border: 1px solid #b6b6b6;
      background: #0094b9;
      color: #fff;
      font-weight: 600;
      font-size: 16px;
      transition: 0.3s;
      &:hover {
         background: #004557;
      }
   }
   &__delivery {
      margin: 40px 0 0 0;
      color: #646464;
   }
   &__params {
      margin: 60px 0 0 0;
      grid-area: params;
      & h3 {
         @include h3style;
      }
   }
}
