@import "../../app/variables.scss";

.params {
     display: flex;
     flex-direction: column;
     gap: 15px;
     margin: 0;
     &__item {
          display: flex;
          @media (max-width: 480px) {
               font-size: 12px;
          }
          @media (max-width: 400px) {
               font-size: 10px;
          }
     }
     &__title {
          color: #4b4b4b;
          font-weight: 500;
     }
     &__separator {
          flex: 1 1 auto;
          border-bottom: 1px dotted #000;
     }
     &__param {
          font-weight: 600;
     }
}
.wifi {
     margin: 20px 0 0 0;
     display: flex;
     align-items: center;
     gap: 10px;
     &__title {
          font-size: 16px;
          font-weight: 600;
     }
     &__titleIncludes {
          font-size: 18px;
     }
     &__icon {
          font-size: 18px;
          color: #2ddf00;
     }
     &__checkbox {
          position: relative;
          appearance: none;
          width: 20px;
          height: 20px;
          border-radius: 4px;
          background: #888888;
          display: flex;
          justify-content: center;
          text-align: center;
          cursor: pointer;
          &__checked {
               background: #0c0077 !important;
               display: flex;
               align-items: center;
               justify-content: center;
               text-align: center;
               &::before {
                    content: url(../../../public/svg/checked.svg);
                    position: relative;
                    width: 15px;
                    height: 15px;
                    left: -5px;
                    top: -4px;
               }
          }
     }
}

.tabs {
     margin: 40px 0 0 0;
     border-bottom: 1px solid #474747;
     display: flex;
     gap: 25px;
     padding: 0;
     font-size: 16px;
     color: $grayColor;
     grid-area: tabs;
     overflow: hidden;
     &__tab {
          display: block;
          background: inherit;
          font-size: inherit;
          padding: 10px;
          position: relative;
          color: inherit;
          height: 100%;
          &__active {
               font-weight: 500;
               &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background: #000000;
                    transition: 0.3s;
               }
          }
          &:hover {
               color: #000;
          }
     }
}

.description {
     font-size: 16px;
     line-height: 125%;
     &__title {
          font-weight: 500;
          font-size: 18px;
          margin: 0 0 20px 0;
     }
}
.review {
     max-width: 700px;
     width: 100%;
     height: auto;
     aspect-ratio: 3/2;
     &__iframe {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          object-fit: cover;
     }
     &__notFound {
          font-size: 16px;
     }
}
