.params {
   margin: 40px 0 0 0;
   display: flex;
   flex-direction: column;
   gap: 15px;
   &__item {
      display: flex;
      @media (max-width: 480px) {
         font-size: 12px;
      }
      @media (max-width: 400px) {
         font-size: 10px;
      }
   }
   &__title {
      color: #4b4b4b;
      font-weight: 500;
   }
   &__separator {
      flex: 1 1 auto;
      border-bottom: 1px dotted #000;
   }
   &__param {
      font-weight: 600;
   }
}
.wifi {
   margin: 20px 0 0 0;
   display: flex;
   align-items: center;
   gap: 10px;
   &__title {
      font-size: 16px;
      font-weight: 600;
   }
   &__checkbox {
      position: relative;
      appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      background: #d4d4d4;
      display: flex;
      justify-content: center;
      text-align: center;
      cursor: pointer;
      &__checked {
         background: #0c0077 !important;
         display: flex;
         align-items: center;
         justify-content: center;
         text-align: center;
         &::before {
            content: url(../../../public/svg/checked.svg);
            position: relative;
            width: 15px;
            height: 15px;
            left: -5px;
            top: -4px;
         }
      }
   }
}
