@import "../../app/variables.scss";

.banners {
   margin: $firstSectionMargin;
   @media (max-width: 920px) {
      margin: 80px 0 0 0;
   }
   @media (max-width: 730px) {
      margin: 70px 0 0 0;
   }
   @media (max-width: 500px) {
      margin: 80px 0 0 0;
   }
   &__swiper {
      position: relative;
   }
   &__imgBody {
      position: relative;
      height: 480px;
      width: 100%;
      border-radius: 8px;
      overflow: hidden;
      @media (max-width: 1300px) {
         height: 400px;
      }
      @media (max-width: 1100px) {
         height: 350px;
      }
      @media (max-width: 950px) {
         height: 300px;
      }
      @media (max-width: 800px) {
         display: none;
      }
   }
   &__imgBodyM {
      position: relative;
      height: 630px;
      width: 100%;
      border-radius: 8px;
      overflow: hidden;
      display: none;
      @media (max-width: 800px) {
         display: block;
      }
      @media (max-width: 690px) {
         height: 580px;
      }
      @media (max-width: 640px) {
         height: 500px;
      }
      @media (max-width: 550px) {
         height: 450px;
      }
      @media (max-width: 500px) {
         height: 400px;
      }
      @media (max-width: 450px) {
         height: 350px;
      }
      @media (max-width: 390px) {
         height: 310px;
      }
      @media (max-width: 350px) {
         height: 270px;
      }
   }
   &__nextSlide {
      position: absolute;
      right: 1%;
      top: 50%;
      transform: translateY(-50%);
      height: 50px;
      width: 50px;
      z-index: 2;
      border-radius: 50%;
      opacity: 0.5;
      & > * {
         height: 50%;
         width: 50%;
      }
      @media (max-width: 800px) {
         display: none;
      }
   }
   &__prevSlide {
      position: absolute;
      left: 1%;
      top: 50%;
      height: 50px;
      width: 50px;
      z-index: 2;
      border-radius: 50%;
      transform: rotate(180deg) translateY(50%);
      opacity: 0.5;
      & > * {
         height: 50%;
         width: 50%;
      }
      @media (max-width: 800px) {
         display: none;
      }
   }
   &__bulletContainer {
      width: 100%;
      height: 40px;
      display: flex;
      gap: 7px;
      justify-content: center;
      margin: -20px 0 0 0;
      position: relative;
      z-index: 2;
      @media (max-width: 390px) {
         height: 25px;
         margin: -10px 0 0 0;
      }
      &__bullet {
         height: 40px;
         width: 40px;
         border-radius: 50%;
         background: #000;
         @media (max-width: 390px) {
            height: 25px;
            width: 25px;
         }
      }
      & span {
         height: 15px;
         width: 15px;
         border-radius: 50%;
         background: #ffffff;
         @media (max-width: 390px) {
            height: 10px;
            width: 10px;
         }
      }
   }
}
.catalog {
   margin: 60px 0 0 0;
   @media (max-width: 800px) {
      margin: 40px 0 0 0;
   }
   &__title {
      @include h2style;
      @media (max-width: 500px) {
         font-size: 24px;
         font-weight: 120%;
      }
      @media (max-width: 400px) {
         font-size: 20px;
      }
      & span {
         background: linear-gradient(304deg, rgb(234, 238, 0) 0%, rgb(54, 54, 54) 100%);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
      }
   }
   &__grid {
      margin: 30px 0 0 0;
      padding: 5px;
      gap: 15px;
      overflow: hidden;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas:
         "aircond aircond semi multi"
         "fridges wash cols boilers"
         "vrf chiller slider slider";
      @media (max-width: 800px) {
         grid-template-areas:
            "aircond aircond aircond aircond"
            "semi semi multi multi"
            "fridges fridges wash wash"
            "cols cols boilers boilers"
            "vrf vrf chiller chiller"
            "slider slider slider slider";
      }
      &__img {
         position: relative;
         width: 250px;
         height: 250px;
         z-index: 3;
         @media (max-width: 1070px) {
            width: 200px;
            height: 200px;
         }
         @media (max-width: 900px) {
            width: 170px;
            height: 170px;
         }
         @media (max-width: 800px) {
            width: 200px;
            height: 200px;
         }
         @media (max-width: 450px) {
            width: 170px;
            height: 170px;
         }
         @media (max-width: 380px) {
            width: 130px;
            height: 130px;
         }
      }
      &__banner {
         @media (max-width: 800px) {
            height: 200px;
         }
         @media (max-width: 450px) {
            height: 170px;
         }
         @media (max-width: 380px) {
            height: 130px;
         }
      }
      &__title {
         position: absolute;
         padding: 0 5px 0 0;
         z-index: 1;
         left: 20px;
         top: 20px;
         font-size: 18px;
         font-weight: 500;
         @media (max-width: 950px) {
            font-size: 16px;
            left: 10px;
            top: 10px;
         }
         @media (max-width: 450px) {
            font-size: 15px;
         }
         @media (max-width: 380px) {
            font-size: 14px;
            left: 5px;
         }
         @media (max-width: 350px) {
            font-size: 13px;
         }
         @media (max-width: 330px) {
            font-size: 12px;
         }
      }
      &__item {
         position: relative;
         display: flex;
         justify-content: flex-end;
         align-items: flex-end;
         background: #f0f9ff;
         width: 100%;
         height: 100%;
         border-radius: 10px;
         overflow: hidden;
         transition: 0.3s;
         &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transition: 0.3s;
            z-index: 1;
            opacity: 0;
            background: radial-gradient(circle, #8ad0ff 0%, rgba(162, 128, 65, 0) 100%);
         }
         &:hover::before {
            transition: 0.3s;
            opacity: 1;
         }
      }
      &__aircond {
         grid-area: aircond;
         background: #5bc5fe33;
      }
      &__semi {
         grid-area: semi;
         background: #00fea533;
         &::before {
            background: radial-gradient(circle, #01ffa67a 0%, rgba(162, 128, 65, 0) 100%);
         }
      }
      &__multi {
         grid-area: multi;
         background: #fc54ff33;
         &::before {
            background: radial-gradient(circle, #fc54ff7a 0%, rgba(162, 128, 65, 0) 100%);
         }
      }
      &__fridges {
         grid-area: fridges;
         background: #5bc5fe33;
      }
      &__wash {
         grid-area: wash;
         background: #5bc5fe33;
      }
      &__cols {
         grid-area: cols;
         background: #fc54ff33;
         &::before {
            background: radial-gradient(circle, #fc54ff7a 0%, rgba(162, 128, 65, 0) 100%);
         }
      }
      &__boilers {
         grid-area: boilers;
         background: #00fea533;
         &::before {
            background: radial-gradient(circle, #01ffa67a 0%, rgba(162, 128, 65, 0) 100%);
         }
      }
      &__vrf {
         grid-area: vrf;
         background: #5bc5fe33;
      }
      &__chillers {
         grid-area: chiller;
         background: #24242433;
         &::before {
            background: radial-gradient(circle, #2424247a 0%, rgba(162, 128, 65, 0) 100%);
         }
      }
      &__slider {
         grid-area: slider;
         &::before {
            background: transparent;
         }
      }
   }
}
.top {
   margin: 60px 0 0 0;
   &__title {
      @include h2style;
      @media (max-width: 500px) {
         font-size: 24px;
         font-weight: 120%;
      }
      @media (max-width: 400px) {
         font-size: 20px;
      }
   }
   &__cols {
      margin: 30px 0 0 0;
      display: flex;
      gap: 25px;
      @media (max-width: 1100px) {
         gap: 10px;
      }
      @media (max-width: 800px) {
         display: grid;
         grid-template-columns: 1fr 1fr;
      }
      @media (max-width: 410px) {
         gap: 10px;
      }
   }
   &__col {
      flex: 0 1 25%;
      display: flex;
      flex-direction: column;
      border: 1px solid #d6d6d6;
      border-radius: 10px;
      padding: 10px;
      line-height: 130%;
      list-style: none;
      box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
      user-select: none;
      overflow: hidden;
      transition: 0.3s;
      color: inherit;
      &:hover .top__img {
         transform: scale(1.1);
      }
      &:hover .top__btn {
         background: #003bdd;
      }
      &:hover {
         box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
         background: #f0f9ff;
      }
   }
   &__banner {
      width: 100%;
      height: 100%;
   }
   &__img {
      position: relative;
      width: 100%;
      height: 230px;
      transition: 0.3s;
      @media (max-width: 500px) {
         height: 150px;
      }
      @media (max-width: 400px) {
         height: 100px;
      }
   }
   &__colTitle {
      margin: 20px 0 0 0;
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      gap: 10px;
      @media (max-width: 950px) {
         margin: 10px 0 0 0;
      }
   }
   &__category {
      color: #a7a7a7;
      font-size: 13px;
      @media (max-width: 400px) {
         font-size: 9px;
      }
   }
   &__name {
      font-weight: 500;
      font-size: 16px;
      @media (max-width: 850px) {
         font-size: 14px;
      }
      @media (max-width: 400px) {
         font-size: 12px;
      }
   }
   &__params {
      margin: 20px 0 0 0;
      display: flex;
      flex-direction: column;
      gap: 5px;
      @media (max-width: 950px) {
         margin: 15px 0 0 0;
      }
      @media (max-width: 500px) {
         margin: 10px 0 0 0;
      }
      @media (max-width: 400px) {
         font-size: 12px;
      }
   }
   &__param {
      font-weight: 300;
      color: #4d4d4d;
      font-size: 13px;
      & span {
         font-weight: 500;
         color: #000;
         font-size: 14px;
      }
   }
   &__price {
      margin: 40px 0 0 0;
      font-weight: 600;
      font-size: 20px;
      @media (max-width: 950px) {
         margin: 20px 0 0 0;
      }
      @media (max-width: 850px) {
         font-size: 16px;
      }
      @media (max-width: 500px) {
         margin: 10px 0 0 0;
      }
   }
   &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0 0 0;
      background: #6a92ff;
      width: 100%;
      text-align: center;
      height: 40px;
      border-radius: 8px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      transition: 0.3s;
      @media (max-width: 500px) {
         margin: 10px 0 0 0;
      }
      @media (max-width: 400px) {
         height: 30px;
         font-size: 14px;
      }
   }
}
.info {
   margin: 90px 0 0 0;
   &__list {
      display: flex;
      border: 1px solid #d8efff;
      height: 100%;
      @media (max-width: 790px) {
         display: grid;
         grid-template-columns: 1fr 1fr;
      }
   }
   &__item {
      flex: 1 1 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      line-height: 130%;
      text-align: center;
      border-right: 1px solid #d1d1d1;
      border-left: 1px solid #d1d1d1;
      &:first-child {
         border-left: none;
         @media (max-width: 790px) {
            border-left: 1px solid #d1d1d1;
         }
      }
      &:last-child {
         @media (max-width: 790px) {
            border-right: 1px solid #d1d1d1;
         }
      }
      @media (max-width: 410px) {
         padding: 10px;
      }
   }
   &__icon {
      width: 40px;
      height: 40px;
      border-radius: 10px;
      background: #f0f0f0;
      display: flex;
      align-items: center;
      justify-content: center;
      & > * {
         font-size: 32px;
         color: #3f3f3f;
      }
   }
   &__title {
      margin: 30px 0 0 0;
      font-weight: 500;
      @media (max-width: 410px) {
         font-size: 12px;
         margin: 10px 0 0 0;
      }
   }
   &__subtitle {
      font-weight: 300;
      color: $grayColor;
      margin: 15px 0 0 0;
      height: 100%;
      display: flex;
      align-items: flex-end;
      @media (max-width: 410px) {
         font-size: 10px;
      }
   }
}
