@import "../../app/variables.scss";

.banners {
   &__swiper {
      position: relative;
   }
   &__imgBody {
      position: relative;
      height: 40vh;
      min-height: 400px;
      width: 100vw;
   }
   &__nextSlide {
      position: absolute;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
      height: 50px;
      width: 50px;
      z-index: 2;
      border-radius: 50%;
      & > * {
         height: 50%;
         width: 50%;
      }
   }
   &__prevSlide {
      position: absolute;
      left: 5%;
      top: 50%;
      height: 50px;
      width: 50px;
      z-index: 2;
      border-radius: 50%;
      transform: rotate(180deg) translateY(50%);
      & > * {
         height: 50%;
         width: 50%;
      }
   }
   &__bulletContainer {
      width: 100%;
      height: 40px;
      display: flex;
      gap: 7px;
      justify-content: center;
      margin: -20px 0 0 0;
      position: relative;
      z-index: 2;
      &__bullet {
         height: 40px;
         width: 40px;
         border-radius: 50%;
         background: #000;
      }
      & span {
         height: 15px;
         width: 15px;
         border-radius: 50%;
         background: #2e009b;
      }
   }
}

.categories {
   margin: 80px 0 0 0;
   &__header {
      display: flex;
      justify-content: space-between;
   }
   &__title {
      @include h2style;
      & span {
         color: #ffef0a;
      }
   }
   &__btn {
      font-size: 20px;
      font-weight: 600;
      line-height: 130%;
      letter-spacing: 0.3px;
      color: #13003f;
      padding: 10px 20px;
      border-radius: 7px;
      background: #e5f0ff;
      position: relative;
      overflow: hidden;
      & span {
         position: relative;
         z-index: 2;
      }
      &:before {
         content: "";
         position: absolute;
         left: -20%;
         top: 0;
         width: 0%;
         height: 100%;
         background: #2e77ff;
         transform: skew(45deg);
         transition: 0.3s;
      }
      &:hover::before {
         width: 130%;
      }
   }
   &__grid {
      margin: 40px 0 0 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      gap: 10px 10px;
      grid-template-areas:
         "aircond aircond semiIndustrial multiSplit"
         "chillers chillers vrfOuter vrfInner"
         "fancoils fancoils kkb kkb";
   }
   &__gridItem {
      height: 220px;
      width: 100%;
      display: flex;
      gap: 20px;
      justify-content: space-between;
      padding: 20px 10px 20px 20px;
      border-radius: 7px;
      &:hover .categories__gridLarge__img {
         transform: scale(1.05);
      }
      &:hover .categories__gridSmall__img {
         transform: scale(1.05);
      }
   }
   &__aircond {
      grid-area: aircond;
      background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(181, 255, 247, 1) 100%);
   }
   &__semiIndustrial {
      grid-area: semiIndustrial;
      background: #defffb;
   }
   &__multiSplit {
      grid-area: multiSplit;
      background: #defffb;
   }
   &__chillers {
      grid-area: chillers;
      background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(181, 255, 247, 1) 100%);
   }
   &__vrfOuter {
      grid-area: vrfOuter;
      background: #defffb;
   }
   &__vrfInner {
      grid-area: vrfInner;
      background: #defffb;
   }
   &__fancoils {
      grid-area: fancoils;
      background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(181, 255, 247, 1) 100%);
   }
   &__kkb {
      grid-area: kkb;
      background: linear-gradient(90deg, rgba(181, 255, 247, 1) 0%, rgba(255, 255, 255, 1) 100%);
   }
   &__gridLarge {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      &__title {
         display: block;
         flex: 0 1 50%;
         width: 100%;
         height: 100%;
         display: flex;
         align-items: flex-start;
         font-size: 18px;
         color: #13003f;
         font-weight: 600;
         line-height: 130%;
      }
      &__img {
         position: relative;
         flex: 0 1 40%;
         width: 100%;
         aspect-ratio: 5/2;
         transition: 0.25s;
      }
   }
   &__gridSmall {
      display: flex;
      flex-direction: column;
      &__title {
         flex: 1 1 auto;
         width: 100%;
         height: auto;
         font-size: 18px;
         color: #13003f;
         font-weight: 600;
         line-height: 130%;
      }
      &__img {
         position: relative;
         max-width: 100%;
         width: 315px;
         height: 125px;
         transition: 0.25s;
      }
   }
}
