@import "../../app/variables.scss";
.catalog {
   margin: $sectionMargin;
}
.grid {
   margin: 60px 0 0 0;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 30px 20px;
   @media (max-width: 850px) {
      gap: 20px 10px;
      grid-template-columns: repeat(3, 1fr);
   }
   @media (max-width: 530px) {
      grid-template-columns: repeat(2, 1fr);
   }
   &__item {
      color: inherit;
      position: relative;
      padding: 40px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      background: #f0f9ff;
      border-radius: 10px;
      transition: 0.3s;
      overflow: hidden;
      &:hover {
         background: #e7e7e7;
      }
      &:hover .grid__img {
         transform: scale(1.15);
      }
   }
   &__title {
      font-weight: 600;
      font-weight: 130%;
      font-size: 16px;
      position: absolute;
      left: 15px;
      top: 15px;
      @media (max-width: 850px) {
         font-size: 14px;
      }
      @media (max-width: 400px) {
         font-size: 14px;
         left: 8px;
         top: 8px;
         font-size: 13px;
      }
   }
   &__img {
      transition: 0.3s;
      position: relative;
      width: 80%;
      height: 80%;
      aspect-ratio: 1/1;
      @media (max-width: 650px) {
         width: 90%;
         height: 90%;
      }
   }
}
