.swiper-pagination {
   display: flex;
   gap: 20px;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 40px;
}
.swiper-pagination-bullet {
   width: 20px !important;
   height: 20px !important;
   background: #000 !important;
}
