@import "../../app/variables.scss";

.delivery {
   margin: $sectionMargin;
}
.main {
   margin: 60px 0 0 0;
   &__title {
      @include h2style;
      text-align: center;
      @media (max-width: 850px) {
         @include h2styleMobile;
      }
      @media (max-width: 670px) {
         text-align: initial;
      }
      @media (max-width: 500px) {
         font-size: 18px;
      }
   }
   &__img {
      margin: 60px 0 0 0;
      position: relative;
      width: 100%;
      height: 100%;
      aspect-ratio: 1420/480;
      @media (max-width: 850px) {
         margin: 40px 0 0 0;
      }
      @media (max-width: 800px) {
         display: none;
      }
   }
   &__imgMobile {
      display: none;
      margin: 40px 0 0 0;
      position: relative;
      width: 100%;
      height: 100%;
      aspect-ratio: 800/700;
      @media (max-width: 800px) {
         display: block;
      }
      @media (max-width: 500px) {
         margin: 30px 0 0 0;
      }
   }
   &__conditions {
      margin: 80px 0 0 0;
      &__title {
         @include h2style;
         @media (max-width: 850px) {
            @include h2styleMobile;
         }
         @media (max-width: 500px) {
            font-size: 18px;
         }
      }
      &__body {
         margin: 40px 0 0 0;
         display: flex;
         gap: 30px;
         align-items: center;
         @media (max-width: 750px) {
            flex-direction: column;
         }
      }
      &__img {
         position: relative;
         max-width: 600px;
         width: 100%;
         max-height: 400px;
         aspect-ratio: 600/400;
         border-radius: 10px;
         overflow: hidden;
      }
      &__list {
         display: flex;
         flex-direction: column;
         gap: 20px;
         line-height: 130%;
      }
      &__item {
         display: flex;
         gap: 10px;
         align-items: center;
         font-size: 16px;
         color: $darkGrayColor;
         @media (max-width: 850px) {
            font-size: 14px;
         }
      }
   }
}
.important {
   margin: 80px 0 0 0;
   &__title {
      @include h2style;
      @media (max-width: 850px) {
         @include h2styleMobile;
      }
      @media (max-width: 500px) {
         font-size: 18px;
      }
   }
   &__list {
      margin: 40px 0 0 0;
      display: flex;
      flex-direction: column;
      gap: 20px;
      line-height: 120%;
      font-size: 16px;
      & li {
         padding: 0 0 0 20px;
         position: relative;
         &::before {
            content: "";
            background: #c5c5c5;
            border-radius: 50%;
            width: 8px;
            height: 8px;
            position: absolute;
            left: 0;
            top: calc(50% - 5px);
            z-index: 10;
         }
      }
      @media (max-width: 850px) {
         font-size: 14px;
      }
   }
}
