@import "tailwindcss";

@layer base {
     .product-swiper-pagination {
          margin-top: 0px;
          display: flex;
          justify-content: center;
          gap: 10px;
          width: 100%;
     }
     .product-swiper-pagination-bullet {
          background: #000;
     }
}

@theme {
     --breakpoint-sm: 480px;
     --breakpoint-xs: 550px;
}
