@mixin h2style {
   color: #333333;
   font-weight: 600;
   font-size: 28px;
   letter-spacing: 0.5px;
   line-height: 140%;
}
@mixin h2styleMobile {
   color: #333333;
   font-weight: 600;
   font-size: 22px;
   letter-spacing: 0.3px;
   line-height: 140%;
}
@mixin h3style {
   color: #333333;
   font-weight: 600;
   font-size: 24px;
   letter-spacing: 0.4px;
   line-height: 140%;
}

@mixin blueBtn {
   border-radius: 20px;
   width: 100%;
   text-align: center;
   padding: 7px 10px;
   background: #2f304d;
   color: #fff;
   font-weight: 500;
   transition: 0.3s;
}

$sectionMargin: 185px 0 0 0;
$firstSectionMargin: 155px 0 0 0;
$grayColor: #5e5e5e;
$darkGrayColor: #414141;
$turquoiseGradient: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(181, 255, 247, 1) 100%);
$blueBtn: #6a92ff;
$blueBtnHover: #003bdd;
$blueColor: #0094b9;
