@import "../../app/variables.scss";

.header {
   background: #f0f9ff;
   padding: 10px 10px;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 100;
   transition: 0.4s;
   &__sticky {
      position: fixed;
      background: #d6efff;
   }
   &__container {
      position: relative;
   }
   &__grid {
      display: grid;
      grid-template-columns: 20% 60% 20%;
      gap: 10px 0px;
      grid-template-areas:
         "logo middle utils"
         "nav nav nav";
   }
   &__logo {
      grid-area: logo;
   }
   &__middle {
      grid-area: middle;
      display: grid;
      grid-template-columns: 20% 80%;
   }
   &__utils {
      grid-area: utils;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      font-size: 16px;
      &__item {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 10px;
         color: #424242;
      }
   }
   &__nav {
      grid-area: nav;
      padding: 10px 0;
      &__disabled {
         display: none;
      }
   }
   &__navlist {
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.2px;
      line-height: 130%;
      color: #424242;
   }
   &__catalog {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0 15px;
      button {
         display: flex;
         align-items: center;
         justify-content: center;
         text-align: center;
         width: 100%;
         height: 80%;
         border-radius: 10px;
         background: #759aff;
         font-size: 18px;
         font-weight: 500;
         letter-spacing: 0.3px;
         transition: 0.3s;
         &:hover {
            background: #1755ff;
         }
      }
   }

   &__search {
      height: 100%;
      width: 100%;
   }
   &__searchBody {
      height: 100%;
      position: relative;
      width: 100%;
      & > input {
         width: 100%;
         height: 100%;
         padding: 0 10px;
         border-radius: 6px;
         background: #f8f8f8;
         font-size: 16px;
         font-weight: 300;
         &:focus {
            box-shadow: rgba(226, 226, 226, 0.25) 0px 30px 60px -12px inset, rgba(190, 190, 190, 0.3) 0px 18px 36px -18px inset;
         }
      }
   }
   &__icon {
      position: absolute;
      right: 10px;
      top: 25%;
      color: #1f008f;
      font-size: 20px;
      cursor: pointer;
   }
}
.menu {
   position: absolute;
   top: 110px;
   left: 0;
   width: 100%;
   height: auto;
   background: #fff;
   padding: 20px;
   border-radius: 0px 0px 8px 8px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
   z-index: 10;
   &__sticky {
      top: 70px;
   }
   &__grid {
      display: grid;
      grid-template-columns: 25% 75%;
   }
   &__sidebar {
      height: 100%;
      display: flex;
      flex-direction: column;
      &__item {
         padding: 10px;
         display: flex;
         align-items: center;
         cursor: pointer;
         border-radius: 8px;
         border: 1px solid transparent;
         transition: 0.25s;
         &:hover {
            border: 1px solid #c0c0c0;
            box-shadow: inset 1px 1px 5px #000;
            background: #eeeeee;
         }
      }
      &__title {
         margin: 0 0 0 20px;
         flex: 1 1 auto;
      }
   }
   &__main {
      margin: 0 0 0 20px;
      &__title {
         font-size: 20px;
         font-weight: 600;
         color: $grayColor;
      }
      &__body {
         margin: 30px 0 0 0;
         font-size: 16px;
         font-weight: 500;
         display: inline-flex;
         flex-direction: column;
         gap: 20px;
         color: #8b8b8b;
         & > * {
            padding: 5px 0;
            display: inline-block;
            border-bottom: 1px solid #e2e2e2;
            color: #8b8b8b;
            transition: 0.3s;
            &:hover {
               border-bottom: 1px solid #9ebcff;
               color: #353535;
            }
         }
      }
   }
}
