.breadcrumbs {
   display: flex;
   gap: 10px;
   font-size: 18px;
   color: #707070;
   flex-wrap: wrap;
   @media (max-width: 800px) {
      margin: -30px 0 0 0;
      font-size: 16px;
   }
   &__active {
      color: #facc00;
   }
   li > * {
      color: inherit;
   }
}
.menuModal {
   position: fixed;
   left: 0;
   top: 0;
   z-index: 101;
   width: 100%;
   height: 100%;
   transform: translateX(-100%);
   background: #bdbdbd;
   animation-name: fade-in;
   animation-duration: 0.5s;
   animation-fill-mode: forwards;
   padding: 20px;
   &__close {
      position: absolute;
      right: 10px;
      top: 10px;
      padding: 10px;
      border: 1px solid #dfdfdf;
      border-radius: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      z-index: 99;
   }
   &__transition {
      animation-name: fade-out;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
   }
   &__find {
      margin: 30px 0 0 0;
      background: #6e90ff;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      max-width: 150px;
      width: 100%;
      height: 35px;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.2px;
      transition: 0.25s;
      color: #fff;
      &:active {
         background: #2d59e9;
      }
   }
}

@keyframes fade-in {
   0% {
      opacity: 0;
      transform: translateX(-100%);
   }
   50% {
      opacity: 1;
   }
   100% {
      transform: translateX(0%);
   }
}
@keyframes fade-out {
   0% {
      transform: translateX(0%);
      opacity: 1;
   }
   50% {
      opacity: 1;
   }
   100% {
      opacity: 0.2;
      transform: translateX(-100%);
   }
}
.container {
   margin: 20px 0 0 0;
   display: flex;
   justify-content: center;
}
.loader {
   width: 48px;
   height: 48px;
   border-radius: 50%;
   display: inline-block;
   border-top: 4px solid #fff;
   border-right: 4px solid transparent;
   box-sizing: border-box;
   animation: rotation 1s linear infinite;
}
.loader::after {
   content: "";
   box-sizing: border-box;
   position: absolute;
   left: 0;
   top: 0;
   width: 48px;
   height: 48px;
   border-radius: 50%;
   border-left: 4px solid #aebdff;
   border-bottom: 4px solid transparent;
   animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
